$background-color:grey;
$primary-color:rgb(29, 149, 204);
$button-color:rgba(0, 0, 0, 0.267);
$button-hover-color:rgb(3, 88, 145);
$button-border:greenyellow;
$navigation-color:rgba(189, 189, 189, 0.8);
$footer-color:rgb(164, 228, 100);