.block-box {
  border: 2px solid blue;
  padding: .5em;
  background-color: #459dcf;
  display: block;
}
span {
  background-color: white;
  border: 1px black;
  width: 100px;
  height: 100px;
}
.background-color {
  background-color: #61b1df;
}
.content-box {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 5px solid black;
}
.margin-box {
  width: 100px;
  height: 100px;
  margin: 30px;
  border: 5px solid black;
}
.box-sizing-box {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  padding: 30px;
  border: 5px solid black;
}
.boxes-container{
  margin: 50px;
}
.square-box,.negative-margin-box,.small-box,.dotted-border-box {
  width: 200px;
  height: 200px;
}
.square-box {
  margin: 50px;
  padding: 50px;
  border: 5px solid black;
}
.negative-margin-box {
  margin: 5px;
  padding: 5px;
  border: 5px solid black;
}
.small-box {
  margin: 5px;
  padding: 5px;
  border: 5px dotted black;
}
.dotted-border-box {
  margin: -50px;
  padding: 50px;
  border: 5px solid black;
}

