.flex-start-container,
.flex-end-container,
.space-evenly-container{
  background-color: #a0cae2;
  display: flex;
  flex-wrap: wrap;
}
.flex-start-container {
  flex-direction: row;
  justify-content: flex-start;
}
.flex-end-container {
  flex-direction: row;
  justify-content: flex-end;
}
.space-evenly-container {
  justify-content: space-evenly;
}
.square-block,
.stretch-block {
  padding: 20px;
  margin: 10px;
  background-color: #4395c4;
  text-align: center;
  font-size: 30px;
}
.stretch-block {
  flex-grow: 2;
}
