.psuedo-button {
  position: relative;
  width: 600px;
  height: 67px;
  background-color: #459dcf;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
}
.psuedo-button::before,
.psuedo-button::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
}
.psuedo-button::before {
  border-left: 3px solid orange;
  border-top: 3px solid orange;
  top: 0;
  left: 0;
}
.psuedo-button::after {
  bottom: 0;
  right: 0;
  border-right: 3px solid orange;
  border-bottom: 3px solid orange;
}

.roodborstje {
  position: relative;
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
}
.roodborstje::before {
  background-image: url(/css/images/roodborstje.jpg);
  content: "";
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.Dodecagon,
.Dodecagon::before,
.Dodecagon::after{
  background: #459dcf;
  width: 180px;
  height: 180px;
}
.Dodecagon {
  position: relative;
  margin-top: 50px;
  margin-left: 260px;
  margin-bottom: 50px;
}
.Dodecagon::before,
.Dodecagon::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.Dodecagon::before {
  transform: rotate(30deg);
}
.Dodecagon::after {
  transform: rotate(60deg);
}
.circle,
.circle:before,
.circle:after{
  background: #459dcf;
  border-radius: 50%;
}

.circle { 
  width: 200px;
  height: 200px;
  font-size: 30px;
  text-align: center;
  position: relative;
  margin: 100px;
  color: white;
}
.circle::before,
.circle::after
{
  width: 100px;
  height: 100px;
  top: 50px;
  content: ".";
  font-size: 40px;
  position: absolute;
}
.circle::before {
  left: -50px;
}
.circle::after {
  right: -50px;
}
.centerp {
  padding-top: 50px;
}
.circlebox{
  display: flex;
  margin: 20px;
}
