.moving-block-container {
  display: inline-block;
  position: relative;
  width: 620px;
  height: 300px;
  margin-left: 50px;
}
.moving-blocks {
  position: absolute;
  height: 290px;
  width: 800px;
  border: 1px solid black;
  background-color: rgb(201, 201, 201);
}
.block {
  position: absolute;
  top: 105px;
  left: 375px;
  padding: 25px;
  text-align: center;
  border: 1px solid black;
  opacity: 1;
  transition: right 2s, left 2s, top 2s, bottom 2s;
}
.moving-blocks:hover .block:nth-child(1) {
  top: -1px;
  margin-left: 366px;
}
.moving-blocks:hover .block:nth-child(2) {
  left: 374px;
  top: -1px;
  margin-left: -375px;
}
.moving-blocks:hover .block:nth-child(3) {
  left: 374px;
  top: 221px;
  margin-left: -375px;
}
.block:nth-child(1) {
  transition-property: margin-left, top, right;
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in, ease;
}
.block:nth-child(2) {
  transition-property: margin-left, top, right;
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in, ease;
}
.block:nth-child(3) {
  transition-property: top, margin-left, left;
  transition-duration: 1s, 1s;
  transition-delay: 1s, 0s;
  transition-timing-function: ease-in, ease-out;
}
.yellow-container {
  display: flex;
  justify-content: left;
  width: 600px;
  height: 400px;
  margin: 50px;
  border: 1px solid black;
  background: rgb(255, 219, 12);
}
.yellow-box {
  position: relative;
  width: 255px;
  height: 255px;
  left: -50px;
  background: rgb(255, 219, 12);
  margin-left: 50px;
}

.yellow-box-cover {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background: black;
  transition: width 1s, height 1s, transform 1s, top 1s, left 1s;
}
.yellow-box:hover .yellow-box-cover {
  width: 100px;
  height: 100px;
  top: 250px;
  left: 250px;
  transform: rotate(180deg);
}

.bacon-egg-image {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  z-index: -2;
}

.placeholder {
  color: red;
}

.card-container {
  display: inline-block;
  width: 620px;
  height: 350px;
  border: 1px solid black;
  background: rgb(207, 204, 204);
  margin: 50px;
  position: relative;
}

.card {
  width: 200px;
  height: 300px;
  background: grey;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  opacity: 0.8;
  transition: top 0.3s, left 0.3s, opacity 0.3s;
  text-align: center;
}

.card:nth-child(1) {
  top: 30px;
  left: 50px;
}
.card:nth-child(2) {
  top: 30px;
  left: 100px;
}
.card:nth-child(3) {
  top: 30px;
  left: 200px;
}
.card:nth-child(4) {
  top: 30px;
  left: 300px;
}

.card:nth-child(1):hover,
.card:nth-child(2):hover,
.card:nth-child(3):hover,
.card:nth-child(4):hover {
  top: -10px;
  opacity: 1;
}

.card:hover .card:nth-child(1) {
  left: 100px;
}

.card:hover ~ .card:nth-child(2) {
  left: 250px;
}

.card:hover ~ .card:nth-child(3) {
  left: 300px;
}

.card:hover ~ .card:nth-child(4) {
  left: 400px;
}
