.change-text-color {
  margin: 20px;
  transition: color 1s; 
}
.change-text-color:hover {
  color: #459dcf;
}
.horizontal-moving-blocks-container {
  display: flex;
  justify-content: center;
}
.horizontal-moving-blocks-background {
  position: relative;
  height: 365px;
  width: 800px;
  margin: 50px;
  border: 1px solid black;
  background-color: rgb(201, 201, 201);
}
.moving-block {
  position: absolute;
  right: 741px;
  top: 0;
  padding: 25px;
  margin: 5px auto;
  border: 1px solid black;
  background-color: white;
  transition: right 3s, background-color 3s, border-radius 3s;
}
.horizontal-moving-blocks-background:hover .moving-block {
  right: -0px;
  background-color: #a0cae2;
}
.horizontal-moving-blocks-background:hover .moving-block:nth-child(1) {
  border-radius: 50%;
}
.horizontal-moving-blocks-background:hover .moving-block:nth-child(2) {
  border-radius: 15px;
  color: black;
}
.moving-block:nth-child(1) {
  top: 0px;
}
.moving-block:nth-child(2) {
  top: 70px;
  transition-timing-function: ease-in;
}
.moving-block:nth-child(3) {
  top: 140px;
  transition-timing-function: ease-out;
}
.moving-block:nth-child(4) {
  top: 210px;
  transition-timing-function: ease-in-out;
}
.moving-block:nth-child(5) {
  top: 280px;
  transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}