.changetextcolor {
  margin: 20px;
  transition: color 1s; 
}
.changetextcolor:hover {
  color: #459dcf;
}

.container {
  display: flex;
  justify-content: center;
}
.block {
  position: relative;
  height: 365px;
  width: 800px;
  margin: 50px;
  border: 1px solid black;
  background-color: rgb(201, 201, 201);
}
.item {
  position: absolute;
  right: 741px;
  top: 0;
  padding: 25px;
  margin: 5px auto;
  border: 1px solid black;
  background-color: white;
  transition: right 3s, background-color 3s, border-radius 3s;
}
.block:hover .item {
  right: -0px;
  background-color: #a0cae2;
}
.block:hover #item1 {
  border-radius: 50%;
}
.block:hover #item2 {
  border-radius: 15px;
  color: black;
}
#item2 {
  top: 0px;
}
#item2 {
  top: 70px;
  transition-timing-function: ease-in;
}
#item3 {
  top: 140px;
  transition-timing-function: ease-out;
}
#item4 {
  top: 210px;
  transition-timing-function: ease-in-out;
}
#item5 {
  top: 280px;
  transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}