// Opdracht 1
.image1 {
  height: 400px * 2;
  width: auto;
}

// Opdracht 2
.image2 {
  height: 400px + 100;
  width: auto;
}
// Opdracht 3
.image3 {
  height: 400px - 300px;
  width: auto;
}
// Opdracht 4
.image4 {
  height: 200px + 100px - 400px;
  width: auto;
}
// Opdracht 5
.image5 {
  height: 200px * 3;
  width: auto;
}
// // Opdracht 6
// .image6 {
//   height: 750px * 1px;
//   width: auto;
// }
// Opdracht 7
.image7 {
  height: 30px / 5px;
  width: 24px/ 4;
}
// Opdracht 8
.image8 {
  height: (30px / 5px);
  width: (24px/ 4);
}
